SHASTA,shared\patternHydro.dss,//SHA_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/
TRINITY-CLAIR ENGLE,shared\patternHydro.dss,//TRN_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/
WHISKEYTOWN,  shared\patternHydro.dss,//WHI_INFLOW/FLOW-PATTERN-HYDRO-CFS//1DAY/DISAGG_CVP_FEB2018_50%/
CARMICHAEL, shared\patternHydro.dss, /MR Am.-Lower American R./Carmichael WD-Flow/Flow-Aver-CFS/01Jan3000/1Month/2017-2021/
SACRAMENTO, shared\patternHydro.dss, /MR Am.-Lower American R./City of Sacramento-Flow/Flow-Aver-CFS/01Jan3000/1Month/2017-2021/
